# {{ ansible_managed }}

{% for section_name, section_items in fail2ban_jails.items() %}
[{{ section_name }}]
{% for key, value in section_items.items() %}
{{ key }} = {{ value }}
{% endfor %}

{% endfor %}
